.btnAddOrder {
	display: block;
	padding: 10px;
	background-color: #5cb85c;
	color: white;
	
}
.btnAddOrder:hover {
	color: white;
	
}
.counter-input .form-control {
    /* your style */
	width: 100%;
}

.maincaticon{
	width: 200px;
	margin-bottom: 15px;
}

.image-50-fll{
	    width: 50px;
    float: right;
}


.as-xxl
{
	font-size:25px;
}
.linkText-46 {
    min-width: 100%;
    text-align: left;
}
label {font-weight: 100;}
.as-border-bottom{
    border-bottom: 1px solid #c8c8c8;
}
.padding-20
{
	padding: 20px;
}
.margin-top-30
{
	margin-top: 30px;
}   
.margin-bot-10
{
	margin-bottom: 5px;
}

.image-300 {
	max-width: 300px;
	min-width: 100px;
	float: right;
}

.cardProduct
{
	width: 100%;
}

.bottomLine
{
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
}

.searchbox input {font-family: Arial; font-size: 11px;}
.searchbox {background: none; border-radius: 0 !important; padding-top: 30px; padding-bottom: 10px;; padding-right:0px !important; padding-left:0px !important;}



/* .as-font {font-family: 'Open Sans Condensed', sans-serif;} */
.as-font {font-family: Arial; font-size: 12px;}
.as-arial {font-family: Arial; }	
.as-small {font-size: 12px;}

.as-no-round  {border-radius: 0 !important;}
.as-src-selector {height: 50px; padding-left: 30px; padding-right: 30px; padding-top: 13px; margin-top: 5px; font-size: 12px;} 

.as-mini-menu {x-height: 20px; x-display:none;}
.as-mini-menu .btn {padding-top:3px; !important; padding-bottom:3px;; height:20px; color: black; background: none !important; border: none !important;}
.as-mini-menu .active { color: #4cae4c; background: none !important;}
.as-mini-menu .focus {color: #4cae4c !important; background: none !important;}

.as-tr-split {margin-bottom: 10px; height: 150px;}
.as-tr-split td {border:none !important; border-bottom: 1px solid #eee !important;}

.input-group {margin-top:10px;}

.asDealerLogo{
	width: 100px;
    x-display: block;
    padding-bottom: 5px;
}

.asSingleTDMIDDLE{
	vertical-align: middle !important;
	text-align: center !important;
}

.asSingleDealer{
	font-size: 12px;
}

.asSingleOption{}
.asSinglePriceA{
	font-size: 15px;
    padding-top: 10px;
	color: #32CD32;
	font-size: 20px;
	font-weight: 500;
}

.asSinglePriceB{
	font-size: 10px;
    color: #777;
}

.asSinglePriceC{
	font-size: 12px;
    color: #eee;	
}

.asSingleOptionsB{
	margin-top: 20px;	
}

.asSingleParams{
	x-background: #fff;
	margin:0;
	font-size: 12px;
	color: #777;
}
.asSingleParamsKey{
	display: inline-block;
    width: 48%;
    margin: 0 0 7px;
    vertical-align: top;
    background: inherit;
}

.asSingleParamsKey i {color: #ccc;}
.asSingleItemHeaderD td {
	    font-weight: bold;
    font-size: 12px;
    padding: 20px !important;
    text-align: center;
}
/*
.asSingleParamsKey:after{
	position: absolute;
    right: 5px;
    left: 0;
    height: 1px;
    margin: .85em 0 0;
    content: '';
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAAAAAA+i0toAAAAAnRSTlMA/1uRIrUAAAAMSURBVHheY7j1/z8ABY8C2UtBe8oAAAAASUVORK5CYII=) 0 0 repeat-x;
}
*/
.asSingleParamsValue{
	display: inline-block;
    width: 52%;
    margin: 0 0 7px;
    vertical-align: bottom;
    background: inherit;
	font-size: 17px;
	font-weight: 700;
	
}
.asSingleInherit{
	z-index: 2;
	font-size: 17px;
	font-weight: normal;
}


/*.as-nav-link:first-child {
	border-left: 1px solid #dddddd;
}*/


.navbar .as-nav-link {
	color: #484848;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 35px;
	margin-left: 35px;
}

.as-nav-link:active {
	text-decoration: none;
}

.navbar .as-nav-link:hover {
	color:#337ab7;
}

.navbar .as-nav-clicked {
	color: #337ab7;
	margin-right: 35px;
	margin-left: 35px;
	font-size: 15px;
	padding-bottom: 14px;
	border-bottom: 3px solid #337ab7;
}

.navbar .as-nav-link-selected {
	
}

.as-product-header { 
	font-size: 22px;
	color: #5b8fc1;
	margin:0;
}

.as-product-rating {
	background-color: #f5f5f5;
	font-size: 14px;
	font-weight: 700;
	color: #686868;
	padding: 5px 0 5px 0;
}

.as-product-category{
	font-size: 9px;
	margin:0;
	color: #ccc;
}

.as-product-description{
	margin:0;
	font-size: 12px;
}

.as-product-manufacturer{
	font-size: 17px;
	color: #5b8fc1;
	margin:0;
}
.as-product-image{
	width: 80px;
	height: auto;
	xxpadding-bottom: 30px;
	xxpadding-top: 30px;
}

.as-big-icon{
	font-size:80px;
}

.as-product-infopart2{
	padding-left: 20px;
}

.as-middle-all {
	text-align: center;
	vertical-align: middle;
	
}

.as-button-categories {
	border: 0;
    display: block;
    border-radius: 0;
    width: 100%;
    text-align: left;
	color: #888;
	font-size: 16px;
	font-weight: 500;
}

.fa-sort-desc {
	font-size: 18px;
	margin-bottom: 7px;
}

.checkbox label {
	font-size: 15px;
	font-weight: 600;
	color: #686868;
}

.checkbox label:hover {
	color: #000;
}

.popup-dealer__opened {
	display: block;
	position: fixed;
	left: 30%;
	z-index: 0;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	width: 40%;
	height: 45%;
	min-width: 300px;
	-webkit-box-shadow: 10px 13px 30px -1px rgba(0,0,0,0.36);
	-moz-box-shadow: 10px 13px 30px -1px rgba(0,0,0,0.36);
	box-shadow: 10px 13px 30px -1px rgba(0,0,0,0.36);  
}

.popup-dealer__closed {
	display: none;
}

.dealer-button {
	cursor: pointer;
	font-size: 16px;
}

.dealer-popup-closeButton {
	background: white;
	border: none;
	position: absolute;
	right: 15px;
	top: 15px;
}

.dealer-popup-list > li {
	list-style: none;
	font-size: 16px;
	color: #777;
	font-weight: 700;
}

.dealer-popup-list > li > p {
	display: inline;
	color: #777;
	font-weight: 400;
}
/*.as-button-categories:hover {
	background-color: #fff;
}

.as-button-categories:active {
	background-color: white;
	border: none;
}*/

.panel {
	-webkit-box-shadow: none;
}

.SlideCheckBoxPanel {
	/*border-right: 1px solid #dddddd;*/
	padding: 20px 20px;
	height: 500px;

}

label.togglemenu:checked {
	background-color: #fff;
	color: black;
	transition: all ease-in-out .3s;
}

label.togglemenu {
	font-size: 16px;
	cursor: pointer;
	transition: all ease-in-out .3s;
}

label.togglemenu:hover {
	color: #686868;
	font-size: 16px;
	transition: all ease-in-out .3s;
}

.as-filter {
	border: 0;
    border-radius: 0;
}

.as-header-table{
	width: 100%;
}

.as-product-price
{
	font-size: 14px;
	font-weight: bold;
}

.as-product-price2{
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 600;
}

.buy-button {
	color: #686868;
	background-color: #d2ebd2;
}

.buy-button:hover {
	background-color: #c3e0c3;
}

.fa-heart {
	padding-right: 5px;
}

.as-product-reviews-orders-link {
	color: #686868;
	font-size: 16px;
	margin-top: 60px;
}

.as-product-reviews-orders-link a {
	color: #686868;
	text-decoration: none;
}

.as-product-reviews-orders-link a:hover {
	color: #000;
}

.as-product-param{
	color: #888;
}

.as-product-banner{
	background-image: url(i/indian_banner.png);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */

}

.as-product-price-container{
	font-size: 12px;
}

.ManufactureImage {
	width: 60px;
	height: auto;
	margin: 5px 10px;
}

.Manufactures {
	border-radius: 3px;
	box-shadow: 0px;
	background-color: #fff;
	border: 1px solid #cccccc;
	margin: 5px;
	
}

.ManufacturesChecked {
	background-color: #f5f5f5;
	border: 1px solid #5cb85c;
	border-radius: 3px;
	box-shadow: 0px;
	margin: 5px;
}

.Manufactures:hover {
	background-color: #f5f5f5;
}



.ManufacturesLabel {
	
}
@media only screen and (max-width: 768px) {
	.col-xs-6 { width: 100%;}
	.as-nav-link
	{
		padding: 10px;
		font-size: 13px;
		display:block;
	}
	.theme-showcase {
		
		border-bottom: none;
	}
	.asSingleParamsKey
	{
		display: block;
		width: 100%;
	}
	.as-product-image{
		display:none;
	}
	
	.as-product-right{
		x-display:none;
		width: 35%;
	}
	.rbt-token-removeable {
		width: 31% !important;
	}
	.rbt-menu {
		width: 100%;
	}
	
}

#atftbx p {display: none;}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 46px;
}

	
		body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: Arial;
}

.form-control {border-radius: 0;}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.theme-showcase {
	background-color: #f7f7f7;
	margin-top: -30px;
	width: 100%;
	height: 0px;
}

.select-categories {
	margin-top: 10px;
	width: 100%;
	border-right: none;
	border-left: none;
}


/* Стили модального окна */

.Modal {
	position: absolute;
    top: 15%;
    left: 20%;
    right: 10%;
    bottom: 10%;
    width: 60%;
    height: 80%;
	border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    WebkitOverflowScrolling: touch;
    borderRadius: 4px;
    outline: none;
    padding: 20px;
	border-radius: 5px;
	-webkit-box-shadow: 10px 13px 30px -1px rgba(0,0,0,0.36);
	-moz-box-shadow: 10px 13px 30px -1px rgba(0,0,0,0.36);
	box-shadow: 10px 13px 30px -1px rgba(0,0,0,0.36);
}

.inputModalContainer {
	max-height: 30%;
	width: 100%;
}

.inputModal {
	display: block;
	margin: 10px 0 10px 0;
	width: 90%;
	
}

.windowModal {
	overflow-y: scroll;
	width: 100%;
	height: 70%;
	border: 1px solid #ccc;
}

.categoryProduct {
	font-size: 15px;
    color: #5b8fc1;
    text-decoration: underline;
}

.productName {
	font-size: 16px;
    color: #5b8fc1;
}

.orderImage {
	width: 25%;
}

.orderMdContent {
	width: 50%;
}

.counter-input .form-control {
	border:1px solid #C8C7C7;
	height:25px;
	x-width:38px;
	text-align:center;
	font-size:11px;
}

.counter-input .input-group-addon  {
	height:21px;
	padding: 1px 6px;
	margin: 10px;
}

/* Строка производителей */

.rbt-input {
  margin: 0px 0 0px;
  height: auto;
}

.form-control {
	height: auto;
}

.rbt-token-removeable {
  background-color: #e7f4ff;
  border: 0;
  border-radius: 2px;
  color: #1f8dd6;
  display: inline-block;
  line-height: 1.3em;
  margin: 3px 3px 0px 0;
  padding: 4px 7px;
  position: relative;
  height: 30px;
  width: 105px;
  overflow: hidden;
  
}

.ManufacturesAndSorting .rbt-token-removeable-text {
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ManufacturesAndSorting .rbt-token-removeable {
	min-width: 105px;
	width: auto;
}

.select2-container {
	width: 100% !important;
}

.rbt-token-close-button {
  bottom: 0;
  padding: 3px 7px;
  position: absolute;
  right: 0;
  top: 2px;
  cursor: pointer;
}

.rbt-token-close-button:hover {
	color: #016fa4;
}

.rbt-token-removeable-text {
	
	height: 100%;
	width: 100%;
	position: absolute;
	top: -10px;
	line-height: 2em;
	
}
.ManufacturesButtonImage {
	height: 100%;
	width: auto;
	
	
}
/*.rbt-token-removeable:hover::after  {
    content: attr(data-title); 
    position: absolute; 
    left: 20%; top: 30%; 
    z-index: 1; 
    background: rgba(255,255,230,0.9); 
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    padding: 5px 10px; 
    border: 1px solid #333; 
   }*/


@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.navbar-inverse {
    background-color: #fff;
    border-color: #fcfdfe;
    border-bottom: 1px solid #ccc;
	min-height: 70px;
}

.ontop {
    min-height: 70px;
    x-background-color: #d00;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
}

.fa-users {
	color: #b4b4b4;
	font-size: 20px;
	margin-top: 15px;
	margin-right: 10px;
}

.select-categories .container {
	margin-top: 12px;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url(../i/seeds1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(../i/seeds2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(../i/seeds3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}

.navbar-header .brand-navbar-agri {
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 42px;
	color: #337ab7;
}

.navbar-header .brand-navbar-sale {
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 42px;
	color: #5cb85c;
}

.navbar-header .brand-navbar-bottom {
	text-decoration: none;
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
	font-weight: bold;
	color: #686868;
	position: absolute;
	left: 63px;
	top: 44px;
}

.work-cabinet {
	color: #595959;
	cursor: pointer;
	font-size: 15px;
}

.work-cabinet:hover {
	color: #595959;
}


p .btn-toolbar {
	display: inline-block;
	margin-left: 10px;
}

p #dropdown-size-medium {
	margin-bottom: -10px;
}

p .dropdown-menu {
	margin-top: 10px;
}

.ManufacturesAndSorting {
	font-size: 15px;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #f5f5f5;
}

.ManufacturesAndSorting p {
	margin-top: 10px;
}
#dropdown-size-medium {
	font-size: 15px;
}

h4.panel-title a:hover {
	cursor: pointer;
}

.panel-group .panel-default {
	border: none;
}

.panel-title a {
	font-size: 17px;
	font-weight: 500;
	color: #686868;
}

.panel-title a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #000 ;
}

/*.collapse.in .panel-default .panel-heading a.collapsed {
	color: #686868;
	font-size: 16px;
	font-weight: 600;
}*/



.panel-collapse .panel-body {
	padding-right: 0px;
	padding-left: 0px;
	border-top: none !important;
	
}

.panel-default .panel-heading {
	background-color: #fff;
	border-bottom: none;
	padding-left: 0px;
}

.panel-default .panel-heading .fa-sort-desc {
	color: #686868;
}

.fa.fa-sort-desc.panel-title::before {
	margin-right: 5px;
}


@media all and (max-width: 1600px) {
	.navbar .as-nav-link {
		margin-left: 20px;
		margin-right: 20px;
    }
}

@media all and (max-width: 1332px) {
	.navbar .as-nav-link {
		margin-left: 15px;
		margin-right: 15px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 992px) {
	.theme-showcase {
		position: absolute;
		top: 150px;
	}
	.SlideCheckBoxPanel {
		height: auto;
	}
	.Modal {
	position: absolute;
    top: 20%;
    left: 0%;
    right: 0%;
    bottom: 20%;
    width: 100%;
    borderRadius: 0px;
	}
}

@media only screen and (max-width: 520px) {
	.table-responsive {
		width: 100%;
	}
	
	.PricesGrid {
		padding: 0;
	}
	
	.select-categories .btn-group {
		width: 100%;
	}
	
	.navbar .as-nav-link {
		width: 100%;
		margin-left: 0;
	}
	
	.as-product-header {
		font-size: 18px;
	}
	
	.as-product-manufacturer {
		font-size: 15px;
	}
	
	.asSingleParamsKey {
		font-size: 13px;
		margin: 0 0 4px;
	}
	
	.asSingleParamsValue {
		font-size: 13px;
		margin: 0 0 4px;
	}
	
	.asSinglePriceA {
		font-size: 18px;
		margin-bottom: 4px;
	}
	
	.as-product-price-container {
		font-size: 14px;
	}
	
	.as-product-reviews-orders-link {
		font-size: 15px;
	}
	
	.buy-button {
		font-size: 15px;
		padding: 8px 14px;
	}
	
	.asSingleInherit {
		font-size: 13px;
	}
	.rbt-token-removeable {
		width: 100% !important;
	}
	
	.inputModal {
		width: 100%;
	}
}

