.custom-select {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 15px;
}

.custom-select__title {
    font-size: 16px;
    color: rgb(51, 51, 51);
    margin-bottom: 10px;
}

.custom-select .select2-container .select2-selection--single {
    height: 32px;
}

.select2-results__option {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.filters {
    margin-bottom: 15px;
}

.filters .togglemenu {
    position: relative;
    line-height: 1.2;
}

.filters .togglemenu span {
    padding-left: 15px;
    display: block;
}

.filters .togglemenu .fa {
    position: absolute;
    top: 6px;
    left: 0;
}

.filters .togglemenu .fa:before {
    position: relative;
    top: -3px;
}

.filters .ms-Checkbox-label {
    line-height: 1;
    margin-bottom: 8px;
}

.select2 {
    height: 32px;
}