
.searchbox input {font-family: Arial; font-size: 11px;}
.searchbox {background: none; border-radius: 0 !important; padding-top: 30px; padding-bottom: 10px;; padding-right:0px !important; padding-left:0px !important;}

.as-font {font-family: 'Open Sans Condensed', sans-serif;}
.as-arial {font-family: Arial; }	
.as-small {font-size: 10px;}

.as-no-round  {border-radius: 0 !important;}
.as-src-selector {height: 50px; padding-left: 30px; padding-right: 30px; padding-top: 13px; margin-top: 5px; font-size: 12px;} 

.as-mini-menu {x-height: 20px; display:none;}
.as-mini-menu .btn {padding:0 !important;}

#atftbx p {display: none;}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 46px;
}

	
		body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: Arial;
}

.form-control {border-radius: 0;}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.navbar-inverse {
    background-color: #fcfdfe;
    border-color: #fcfdfe;
    border-bottom: 1px solid #ccc;	min-height: 70px;
}

.ontop {
    height: 100px;
    x-background-color: #d00;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
}


.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url(../i/seeds1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(../i/seeds2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(../i/seeds3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}

.navbar-brand>img {width: 100px;}
