.dropdown-item i {
    color: #a5a5a5;
    white-space: pre-line;
}

.dropdown-item p {
    white-space: pre-line;
}

@media screen and (max-width:722px) {
    .dropdown-item {
        border-top: 1px solid #e2e2e2;
    }
}
